@keyframes drift{

0%,100%{

transform:translateY(0) rotate(0deg);

}

50%{

transform:translateY(-14px) rotate(8deg);

}

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@keyframes fadeIn{

from{

opacity:0;

}

to{

opacity:1;

}

}

@keyframes zoom{

0%{

transform:scale(.8);

opacity:0;

}

100%{

transform:scale(1);

opacity:1;

}

}

@keyframes floatSlow{

0%,100%{

transform:translateY(0px);

}

50%{

transform:translateY(-25px);

}

}